body{
    align:auto;
    margin:0px;
}

/* div.container{ */
/*     margin:0px; */
/*     padding:0px; */
/* } */

/* #rstudio_branding_bar{ */
/*     position: fixed!important; */
/*     top: 0px; */
/*     left: 0px; */
/*     height: 5vh!important; */
/*     z-index: 0!important; */
/* } */

#progress-text{
    z-index: 1!important;
}

div.controls_frame{
    position: fixed;
    top: 0vh;
    left: 0px;
    width:20vw;
    height: 90vh;
    background: rgba(200,100,100,0.7);
}

div.controls{
    width: 90% !important;
    padding: 10px;
    font-size: small;
}

div.controls > *{
    margin-top: 5px;
    margin-bottom: 5px;
}

div.plot{
    position: fixed;
    left: 20vw;
    top: 0vh;
    width: 60vw;
    height: 90vh;
}

#sel_wrapper{
    position: fixed;
    left: 80vw;
    top: 0vh;
    width: 20vw;
    height: 90vh;
    background: #5a7;
}

#sel{
    padding: 10px;
}

div.footer{
    position: fixed;
    left: 0px;
    top: 90vh;
    width:100vw;
    height:10vh;
    color: red;
    background: rgba(200,200,200,1);
    text-align: center;
    vertical-align: middle;
}

div.footer > p{
    margin: auto;
    padding: 5px;
}

#popup{
    position: fixed;
    top: 20vh;
    left: 30vw;
    width: 40vw;
    padding: 10px;
    z-index: -2;
    box-shadow: 5px 5px 10px black;
    background: rgba(220,200,250,1);
    text-align: center;
    visibility: hidden;
}

#popup_content{
    text-align: justify;
}

table.tabctrl{
    width: 100%;
    font-family: monospace;
}

table tr td.left{
    width:70%;
    height: 100%;
}

table tr td.right{
    width:28%;
    height: 100%;
    vertical-align:middle;
}

table tr td.right input{
    width:90%;
    background: rgba(100, 150, 200, 0.6);
}

table tr td.right select{
    width:90%;
    background: rgba(100, 150, 200, 0.6);
}

div.controls input#go_button{
    float:right;
} 

.helper{
    cursor: help;
}

.helper:hover{
    background: rgba(255,255,255,0.5);
}